@{ 
    Layout = "~/_Layout.cshtml";
}


<!DOCTYPE html>
<html class="addQuote">
<head>
    <title></title>
</head>
<body class="AddQuoteBody">

    <div class="formQuote">
        <p style="font-size:1.5em; float:left;" class="spaceForm">Customer Name: </p>
        <input type="text" style="float:left; margin-top:6px;" name="fname" placeholder=""><br>
        <br />
        <p style="font-size:1.5em;float:left" class="spaceForm">Size of Desk:  </p>
        <p class="float:left;">Width:</p><input type="number" style="float:left;width:50px; margin-top:6px;" name="deskSize"><br>
       <p class="float:left">Depth:</p> <input type="number" style="float:left; margin-top:6px; width:50px;" name="deskDepth" size="4" maxlength="4" placeholder=""><br>
        <br />
        <p style="font-size:1.5em " class="spaceForm"># of Drawers </p>
        <br />
        <p style="font-size:1.5em" class="spaceForm">Surface Material: </p>
        <br />
        <p style="font-size:1.5em" class="spaceForm">Rush Order Options: </p>
        <br />
        <p style="font-size:1.5em" class="spaceForm">Price of Quotes: </p>
        <br />
        <button>Calculate</button>
        <button>Submit</button>
        <button>Cancel</button>

    </div>

</body>
</html>
