@{
    Layout = "~/_Layout.cshtml";
    var db = Database.Open("MegaDeskWeb");
    var selectedData = db.Query("SELECT * FROM DeskQuote");
    var grid = new WebGrid(source: selectedData);
}


<!DOCTYPE html>
<html>
<head>
    <title>View Quotes</title>
</head>
<body>
    <header></header>
    <main>
        <h1>View Quotes</h1>
        <div>
            @grid.GetHtml(
           tableStyle: "grid",
           headerStyle: "head",
           alternatingRowStyle: "alt",
           columns: grid.Columns(
               grid.Column(format: @<a href="~/EditQuote?id=@item.Id">Edit</a>),
                     grid.Column("width"),
                     grid.Column("depth"),
                     grid.Column("numDrawers"),
                     grid.Column("material"),
                     grid.Column("rushOrder"),
                     grid.Column("customerName"),
                     grid.Column("date"),
                     grid.Column("total"),
                     grid.Column(format: @<a href="~/DeleteQuote?id=@item.Id">Delete</a>)
               )
           )
        </div>

        <div class="quoteButton">
            <a href="~/AddQuote.cshtml" class="button">Add New Quote</a>
            <br />
            <a href="~/SearchQuotes.cshtml" class="button">Search Quotes</a>
            <br />
            <a href="~/MegaDeskWeb.cshtml" class="button">Home</a>
        </div> <!-- quoteButton -->
    </main>

    
    <br />
    <br />
</body>
</html>
